<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32001">
		<setting id="lastSyncDisplay" enable="false" type="text" label="32015" default="-" />
		<setting id="lastSyncTime" type="text" visible="false" option="hidden" label="Last Sync Time" default="" />
		<setting id="username" type="text" label="32004" default=""/>
		<setting id="useArtistDetails" type="bool" label="32006" default="true"/>
    	<setting label="32002" type="lsep"/>
		<setting id="logEnabled" type="bool" label="32003" default="false"/>
		<setting label="32033" type="action" action="RunScript($CWD/clearhistory.py)"/>
	</category>
	<category label="32012">
		<setting id="updateAlbumRatings" type="bool" label="32013" default="true"/>
		<setting id="updateTrackRatings" type="bool" label="32014" default="true"/>
	</category>
	<category label="32024">
		<setting type="lsep" label="32035"/>
		<setting id="apiToken" type="text" label="32025" default=""/>
		<setting id="uploadAlbumRatings" type="bool" label="32026" visible="!eq(-1,)" default="true"/>
		<setting id="uploadTrackRatings" type="bool" label="32027" visible="!eq(-2,)" default="true"/>
		<setting id="doNotUploadZeroRatings" type="bool" label="32036" visible="!eq(-3,)" default="true"/>
	</category>
	<category label="32017">
		<setting id="scheduleInterval" type="enum" label="32018" lvalues="32019|32020|32021|32022" default="0"/>
		<setting id="scheduleDisplayProgress" type="bool" label="32023" visible="!eq(-1,0)" subsetting="true" default="true"/>
		<setting id="uploadRatingsOnStartup" type="bool" label="32028" default="true"/>
	</category>
</settings>
